.ui-button-flat{
	background-color: #ffffff !important;
}

.back-no-leido{
	background-color: #0c91df1f !important;
	font-weight: 700;
}

.font-9{
	font-size: 9px !important;
}

.font-10{
	font-size: 10px !important;
}

.font-11{
	font-size: 11px !important;
}

.font-12{
	font-size: 12px !important;
}

.font-13{
	font-size: 13px !important;
}

body .ui-button.btn-text .ui-button-text {
	padding: 0.5rem 0rem !important;
}

.btn-text{
	
}

.padding-1{
	padding: 1%
}

.padding-2{
	padding: 2%
}

.padding-3{
	padding: 3%
}

.padding-12-px{
	padding: 12px;
}

.padding-15-px{
	padding: 15px;
}

.padding-7-px{
	padding: 7px !important;
}

.padding-res-1-5{
	padding: 1%
}

.padding-5{
	padding: 5%
}

.pad-top-1{
	padding-top: 1%;
}


.pad-top-2{
	padding-top: 2%;
}

.pad-top-3{
	padding-top: 3%;
}

.pad-top-4{
	padding-top: 4%;
}

.pad-top-5{
	padding-top: 5%;
}

.pad-bottom-1{
	padding-bottom: 1%;
}

.pad-bottom-3{
	padding-bottom: 3%;
}

.margin-top-1{
	margin-top: 1%;
}

.margin-top-2{
	margin-top: 2%;
}

.margin-top-3{
	margin-top: 3%;
}

.margin-top-4{
	margin-top: 4%;
}

.margin-top-5{
	margin-top: 5%;
}

.margin-top-6{
	margin-top: 6%;
}

.margin-top-7{
	margin-top: 7%;
}

.margin-top-10{
	margin-top: 10%;
}

.margin-left-10{
	margin-left: 10px !important;
}

.margin-4{
	margin: 4%;
}

.margin-5{
	margin: 5%;
}

.margin-10{
	margin: 10%;
}

.width-complete{
	width: 100% !important;
}

.width-10p{
	width: 10% ;
}

.width-20p{
	width: 20% ;
}

.width-30p{
	width: 30% ;
}

.width-40p{
	width: 40% ;
}

.width-80p{
	width: 80% ;
}

.width-max-content{
	width: max-content !important;
}

.width-195{
	width: 195px ;
}

.width-175{
	width: 175px ;
}

.width-120{
	width: 120px ;
}

.width-115{
	width: 115px ;
}

.width-110{
	width: 110px ;
}

.width-100{
	width: 100px ;
}

.width-90{
	width: 90px ;
}

.width-80{
	width: 80px ;
}

.width-70{
	width: 70px ;
}

.width-60{
	width: 60px ;
}

.width-50{
	width: 50px ;
}

.width-40{
	width: 40px ;
}

.width-30{
	width: 30px ;
}

.width-200{
	width: 200px ;
}

.width-300{
	width: 300px ;
}

.min-width-300{
	width: 300px !important;
}

.min-width{
	min-width: 200px;
}

.height-100{
	height: 100%;
}

.height-20{
	height: 20%;
}

.height-72{
	height: 72%;
}

.height-80{
	height: 80%;
}

.height-82{
	height: 82%;
}

.height-85{
	height: 85%;
}

.height-86{
	height: 86%;
}

.height-89{
	height: 89%;
}

.height-90{
	height: 90%;
}

.height-86-px{
	height: 86px !important;
}

.font-weight-500{
	font-weight: 500;
}

.text-format-permiso{
	font-size: 40px !important;
	
}

.datatable-infra{
	width: 100%;
	padding-right: 50px;
	padding-left: 50px;
	margin-right: auto;
	margin-left: auto;
}

.padding-button{
	padding: 0.5rem 1rem !important;
}

.input-form{
	width: 100% !important;
}

.center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	border-radius: 10px;
	border-color: #CCC;
}

.center{
	padding: 0 40px;
	box-sizing: border-box;
}
.forma{	
	background: #FFFFFF;
	padding: 25px 40px;
	border: solid 1.5px #ABB2B9;
	border-radius: 10px;
	box-sizing: border-box;
}

.login-txt{
	position: relative;
	margin: 30px 0;
}

.login-txt input{
	width: 100%;
}

.button-190-px{
	width: 190px;
}

.button-15{	
	width: 15%;
}
.button-20{	
	width: 20%;
}

.button-65{	
	width: 65%;
}

.button-left-20{
	left: 20%;
}

.width-login{
	width: 350px;
}

.main-section{
	margin: 0 auto;
	padding: 0;
}

.hasDatepicker{
	width: 100%;
}

/* .nav-item{ */
/* 	background-color: #f8f9fa; */
/* } */

/* .nav-item:hover{ */
/* 	background-color: #d0d7dd; */
/* } */

.bck-blue{
	background-color: #0B4DA2;
	color: #FFFFFF;
	font-weight: 500;
}

.bck-green{
	background-color: #28B463;
	color: #FFFFFF;
	font-weight: 500;
}

.bck-color-blue{
	background-color: #0B4DA2;
	color: #FFFFFF;
	border-radius: 7px;
	font-weight: 500;
}

.bck-color-blue:hover{
	background-color: #0a3d83;
}

.bck-color-white-blue{
	background-color: #15B3E1;
	color: #FFFFFF;
	border-radius: 7px;
	font-weight: 500;
}

.bck-color-white-blue:hover{
	background-color: #129bc2;
}

.bck-color-orange{
	background-color: #FF5733;
	color: #FFFFFF;
	border-radius: 7px;
	font-weight: 500;
}

.bck-color-orange:hover{
	background-color: #f92c00;
}

.bck-color-green{
	background-color: #28B463;
	color: #FFFFFF;
	border-radius: 7px;
	font-weight: 500;
}

.bck-color-green:hover{
	background-color: #239B56;
}

.bck-color-purple{
	background-color: #8E44AD;
	color: #FFFFFF;
	border-radius: 7px;
	font-weight: 500;
}

.bck-color-purple:hover{
	background-color: #7D3C98;
} 

.bck-color-gold{
	background-color: #E1A915;
	color: #FFFFFF;
	border-radius: 7px;
	font-weight: 500;
}

.bck-color-gold:hover{
	background-color: #d29e13;
}

.bck-color-yellow{
	background-color: #FFC300;
	color: #FFFFFF;
	border-radius: 7px;
	font-weight: 500;
}

.bck-color-yellow:hover{
	background-color: #e8b400;
}

.bck-color-red{
	background-color: #F31A03;
	color: #FFFFFF;
	border-radius: 7px;
	font-weight: 500;
}

.bck-color-red:hover{
	background-color: #cc2c1a;
}

.shadow-sapi{
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.shadow-sapi-top{
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.back{
	background: #2196F3;
    color: #ffffff;
    border: 1px solid #2196F3;
    margin: 0;
    outline: 0 none;
    border-radius: 4px;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

.back:hover{
	background: #0d89ec;
    color: #ffffff;
}

.link-bandeja{
	margin-top: 17px;
}

.margin-top-6{
	margin-top: 6px;
}

.link-bandeja-color{
	color: #ffffff !important;
}

.customer-badge {
    border-radius: 2px;
    padding: 0.25em 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}

.encabezado-div{
/* 	border: 1px solid #dee2e6; */
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.cuerpo-div{
/* 	border: 1px solid #dee2e6; */
    padding: 1rem;
    border-top: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.status-incidente-ACTIVO{
	background-color: #FEEDAF;
    color: #8A5340;
}

.status-incidente-CERRADO{
    background-color: #C8E6C9;
    color: #256029;
}

.status-TERMINADO{
	background-color: #c0c0c0;
    color: #000000;
}

.status-PORTAFOLIO{
	background-color: #B3E5FC;
    color: #23547B;
}

.status-REGISTRADO {
    background-color: #FFD8B2;
    color: #805B36;
}

.status-LIBERADO {
    background-color: #C8E6C9;
    color: #256029;
}

.status-ASIGNADO {
    background-color: #ECCFFF;
    color: #694382;
}

.status-CANCELADO {
   background-color: #FFAAB3;
    color: #C63737;
}

.estatus-ACTIVO{
	background-color: #C8E6C9;
    color: #256029;
}

.estatus-INACTIVO{
	background-color: #FFCDD2;
    color: #C63737;
}

.ui-chkbox-label{
	width: 100%;	
}

.boder-error{
	border-color: #f44336 !important;
}

.boder-warning{
	border-color: #f4f400!important;
}

.color-red{
	color: #f44336;
}

.color-orange{
	color: #ff8040;
}

@media ( max-width : 500px) {
	.width-login{
		width: 315px;
	}
	
	.width-complete{
		width: 100% !important;
	}
	
	.padding-res-1-5{
		padding: 5%
	}
}